# Build artifacts
/vdc
/mapper
/reducer
mapreduce/bin/
mapreduce/driver/driver

# Runtime data
vdc-leader.db
vdc-leader.db-shm
vdc-leader.db-wal
vdc-leader.log
vdc-packages/

# Test binaries
/echo
testbins/build/
